{% extends 'base.html' %}  
  
{% block content %}  
{% load crispy_forms_tags %}
<div class = "login">  
    <h1>Welcome Back!</h1>
    <br>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li><div class="alert {{ message.tags }}" role="alert">{{message}}</div></li>
            {% endfor %}
        </ul>
    {% endif %}
      
    <div class="content-section">
        <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Login</button>
        </form>
        <br><br>
        </div>
    </div>
</div>
  
{% endblock content %}  
