{% extends 'base.html' %}  
  
{% block content %}  
{% load crispy_forms_tags %}
<div class = "login">  
  
    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}  
      
    <h1>Register your User Here</h1>  
  
         <form method="post" >  
             {% csrf_token %}   
                {{ form|crispy }} 
                <div class="form-group">
                    <button type="submit" id="register_button" class="btn btn-outline-info">Sign Up</button>
                </div>    
         </form>
         <div class="border-top pt-3">
            <small class="text-muted">Already have an account?
            <a class="ml-2" href="{% url 'login' %}">Log In</a>
            </small>
        </div>
     </div>  
  
{% endblock content %}  