{% extends 'microBase.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cashier.css' %}" id="css">
{% endblock %}

{% block content %}
<body>
{% if messages %}
    <ul id="messageList">
    {% for message in messages %}
        <li><div class="alert {{ message.tags }}" role="alert">
            {{message}}
        </div></li>
    {% endfor %}
    </ul>
    {% endif %}

{% if receiptDict %}
    <div style="display: none;" id="receiptDict">{{receiptDict}}</div>
    <div id="debug"></div>
    <script>
        var receiptDict = document.getElementById("receiptDict").innerHTML;
        var rData = JSON.parse(receiptDict);
        document.getElementById("debug").innerHTML = rData;

        function showReceipt() {

	    var output = "<!DOCTYPE HTML><!-- Receipt Template. Later improvements may allow for better customization. --><html><head><title>Receipt</title><link rel=\"stylesheet\" href=\"{% static 'css/receipt.css' %}\"></head><body><div class=\"numbers\" id=\"numbers\">";
	    output += rData['rightNow'];
	    output +="</div><div class=\"header\" id=\"header\">Welcome to Our Shop</div><div class=\"items\" id=\"items\">";

        productLength = rData['products'].length;
	    for (var looper=0; looper<productLength; looper++) {
    		output += "<br/><span class=\"productName\">" + rData['products'][looper]['name'] + "</span><span><span class=\"unitPrice\">" + rData['products'][looper]['price'] + "</span> x <span class=\"productAmount\">"
		    + rData['products'][looper]['amount'] + "<span><br/><span class=\"discountSpan\">- " + rData['products'][looper]['discount'] + " = <span class=\"productTotal\">" + rData['products'][looper]['total'] + "</span><br/>";
	    }

	    output += "</div><br/>---------<br/><br/><div class=\"math\" id=\"math\">subTotal : <span class=\"subTotal\">";
	    output += rData['subTotal'];
	    output += "</span><br/>Tax : <span class=\"taxes\">";
	    output += rData['tax'];
	    output += "</span><br/>Total : <span class=\"total\">";
        output += rData['total'];
        output += "</span><br/></div><br/>---------<br/><div class=\"footer\" id=\"footer\"><br/>Thank you for shopping with us!</div></body></html>";
	
	    myWindow = window.open('about:blank',"Receipt",'width=800,height=1025,left=200,top=200');
	    myWindow.document.write(output);

        }
    </script>
    <button type="button" onclick="showReceipt()">Create a Receipt</button>
{% endif %}

    <a href={% url 'catalog' %}>Create New Cart</a>
</body>
{% endblock %}