.productLine {
    width:100%;
    display : flex;
    justify-content: space-around;
}

.productName {
    width:50%;
    margin-left:15%;
}

.evenProduct {
    background-color: white;
}

.oddProduct {
    background-color: lightgrey;
}

.amountField {
    width:5em;
}

.discountField {
    width:7.5em;
}

label {
    box-shadow : 1.5px 1.5px 1.5px;
    margin:10px;
    padding:5px;
}

.mathy {
    float:right;
}

#totalPart {
    margin-left:80%;
    font-family: monospace, monospace;
    list-style: none;
}

#cash {
    width:5em;
}