{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div style="
    display : flex;
    justify-content: space-around;
">
    <div>
        <h3>Developers</h3>
        <ul>
            <li>James Diller</li>
            <li>Aniketh Babu</li>
            <li>Tomas Alvarez</li>
            <li>Evan Spiering</li>
            <li>David Smedberg</li>
        </ul>
    </div>
    <div>
        <h3>Technologies Utilized</h3>
        <ul>
            <li>Django</li>
            <li>BootStrap</li>
            <li>Add more</li>
        </ul>
    </div>
</div>
{% endblock %}
