{% extends 'base.html' %}  
{% load crispy_forms_tags %}
{% block title %}{{ formTitle }}{% endblock %}
{% block content %}  

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DATA ENTRY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'signup-home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'customersignup' %}">Add Customer</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'suppliersignup' %}">Add Supplier</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'stocksignup' %}">Stock New Product</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ordersignup' %}">New Outgoing Order</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'incomingsignup' %}">New Incoming Order</a></li>
            </ul>
    </div>
</nav>

<div class = "login">  
  
    {% if messages %}  
        <ul id="messageList">
            {% for message in messages %}
            <li><div class="alert {{ message.tags }}" role="alert">
                {{message}}
            </div></li>
        {% endfor %}
        </ul>   
    {% endif %}  
    
    {% if form %}
    <h1>{{ formHeader }}</h1>  
  
        <form method="post" >  
             {% csrf_token %}  
             {{ form|crispy }}
             <div class="form-group">
                <button type="submit" id="register_button" class="btn btn-outline-info">{{formTitle}}</button>
            </div>  
        </form>
    {% else %}
        <p>From here, you can add new customers, suppliers, products, incoming orders and outgoing orders.</p>
    {% endif %}
     </div>  
  
{% endblock content %}